<% layout("/layouts/boilerplate") -%>

  <style>
    #filters {
      display: flex;
      flex-wrap: wrap;

    }

    .filter {
      text-align: center;
      margin-right: 2rem;
      margin-top: 1rem;
      opacity: 0.7;
    }

    .filter:hover {
      opacity: 1;
    }
  </style>
  <br>

  <!-- pages top -->
  <div class="toopp">
    <div class="top">
      <div class="topp">
        <img
          src="https://purepng.com/public/uploads/large/purepng.com-big-buildingbuildinghousefactoryresidencedwelling-houseconstructionarcitecture-1701528483158zrdkq.png"
          alt=" ">
      </div>
    </div>
    <div class="heaad">
      <div class="heaaddd">
        <h3>Trusted Place To <b>Buy</b> And <b>Sell</b> Home</h3>
      </div>
      <div class="head-about">"Your trusted partner in real estate transactions. Expertise in buying and selling
        properties, ensuring a smooth and successful experience for all clients."</div>
      <div class="btntop">
        <div class="buybtn1">
          <form action="#properties">
            <button>BUY PROPERTY</button>
          </form>
        </div>
        <div class="buybtn1">
          <form action="/listings/new">
            <button>SELL PROPERTY</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  </div>


  <div class="logosss">
    <div id="filters">
      <div class="filter">
        <div><a href="#properties"><i class="fa-solid fa-fire"></i></a></div>
        <p>Trending</p>
      </div>
      <div class="filter">
        <div><a href=""><i class="fa-solid fa-bed"></i></a></i></div>
        <p>Room</p>
      </div>
      <div class="filter">
        <div><a href=""><i class="fa-solid fa-mountain-city"></i></a></i></div>
        <p>Iconic cities</p>
      </div>
      <div class="filter">
        <div><a href=""><i class="fa-solid fa-mountain"></i></a></i></div>
        <p>Mountain</p>
      </div>
      <div class="filter">
        <div><a href=""><i class="fa-brands fa-fort-awesome"></i></a></div>
        <p>Castles</p>
      </div>
      <div class="filter">
        <div><a href=""><i class="fa-solid fa-tractor"></i></a></div>
        <p>Farm</p>
      </div>
      <div class="filter">
        <div><a href=""><i class="fa-solid fa-water"></i></a></i></div>
        <p>Lakes</p>
      </div>
      <div class="filter">
        <div><a href=""><i class="fa-solid fa-bed"></i></a></div>
        <p>Bed</p>
      </div>
      <div class="filter">
        <div><a href=""><i class="fa-solid fa-golf-ball-tee"></i></a></div>
        <p>Golf</p>
      </div>
      <div class="filter">
        <div><a href=""><i class="fa-solid fa-baseball"></i></a></i></div>
        <p>Play</p>
      </div>
      <div class="filter">
        <div><a href=""><i class="fa-solid fa-city"></i></a></div>
        <p>New</p>
      </div>
      <div class="filter">
        <div><a href=""><i class="fa-solid fa-tree"></i></a></div>
        <p>Amazing View</p>
      </div>
      <div class="filter">
        <div><a href=""><i class="fa-solid fa-mountain-city"></i></a></div>
        <p>Iconic cities</p>
      </div>
      <div class="filter">
        <div><a href=""><i class="fa-solid fa-mountain"></i></a></div>
        <p>Mountain</p>
      </div>
      <div class="filter">
        <div><a href=""><i class="fa-brands fa-fort-awesome"></i></a></div>
        <p>Castles</p>
      </div>

    </div>
  </div>


  <!-- cities----------------------------------------------------------------------------------- -->


  <div class="all-city">

    <div class="head111">
      <h1>POPULAR <b>CITIES</b></h1>
    </div>
    <div class="cities">

      <div class="card-group ">
        <div class="card card11">
          <a href="#properties"> <img
              src="https://tse3.mm.bing.net/th?id=OIP.-KENXAGhkMSky-_Ni2__UAHaE7&pid=Api&P=0&h=180" class="card-img-top"
              alt="..."></a>

          <div class="card-body">
            <h5 class="card-title">DELHI</h5>

          </div>
        </div>
        <div class="card card11">
          <a href="#properties"><img
              src="https://tse1.mm.bing.net/th?id=OIP.u8iGMj_wfSlRV-o19CPhIQHaE8&pid=Api&P=0&h=180" class="card-img-top"
              alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">MUMBAI</h5>

          </div>
        </div>
        <div class="card card11">
          <a href="#properties"> <img
              src="https://tse4.mm.bing.net/th?id=OIP.cpiUOaZj0McSo8ClXIIeswHaE8&pid=Api&P=0&h=180" class="card-img-top"
              alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">CHENNAI</h5>

          </div>
        </div>
        <div class="card card11">
          <a href="#properties"> <img
              src="https://tse4.mm.bing.net/th?id=OIP.dCTJeo113CSqcGE1izfGCgHaE8&pid=Api&P=0&h=180" class="card-img-top"
              alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">BANGLORE</h5>

          </div>
        </div>
        <div class="card card11">
          <a href="#properties"> <img
              src="https://tse3.mm.bing.net/th?id=OIP.gy4vovS_mxhYdI2zUmaJVAHaE8&pid=Api&P=0&h=180" class="card-img-top"
              alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">KOLKATA</h5>

          </div>
        </div>
        <div class="card card11">
          <a href="#properties"><img
              src="https://tse1.mm.bing.net/th?id=OIP.xrJd__anNMU_hWOHeH3t4AHaE7&pid=Api&P=0&h=180" class="card-img-top"
              alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">HYDRABAD</h5>

          </div>
        </div>
      </div>
    </div>

    <!-- Secid div  -->


    <!-- Cities end -->






    <!-- cities------------------------- -->


    <!-- <div class="cites"> 


        

      <div class="city">
        <div class="city-img">
          <img width="100px" src="https://tse3.mm.bing.net/th?id=OIP.Oo3jYy28FIIc84aMsuJs_gHaEo&pid=Api&P=0&h=180" alt="">
     
        </div>
        <div class="city-name">
          <p><b>DELHI</b></p>
        </div>
      </div>

      <div class="city">
        <div class="city-img">
          <img width="100px" src="https://tse3.mm.bing.net/th?id=OIP.Oo3jYy28FIIc84aMsuJs_gHaEo&pid=Api&P=0&h=180" alt="">
     
        </div>
        <div class="city-name">
          <p><b>DELHI</b></p>
        </div>
      </div>
      <div class="city">
        <div class="city-img">
          <img width="100px" src="https://tse3.mm.bing.net/th?id=OIP.Oo3jYy28FIIc84aMsuJs_gHaEo&pid=Api&P=0&h=180" alt="">
     
        </div>
        <div class="city-name">
          <p><b>DELHI</b></p>
        </div>
      </div>
      <div class="city">
        <div class="city-img">
          <img width="100px" src="https://tse3.mm.bing.net/th?id=OIP.Oo3jYy28FIIc84aMsuJs_gHaEo&pid=Api&P=0&h=180" alt="">
     
        </div>
        <div class="city-name">
          <p><b>DELHI</b></p>
        </div>
      </div>
      <div class="city">
        <div class="city-img">
          <img width="100px" src="https://tse3.mm.bing.net/th?id=OIP.Oo3jYy28FIIc84aMsuJs_gHaEo&pid=Api&P=0&h=180" alt="">
     
        </div>
        <div class="city-name">
          <p><b>DELHI</b></p>
        </div>
      </div>
      <div class="city">
        <div class="city-img">
          <img width="100px" src="https://tse3.mm.bing.net/th?id=OIP.Oo3jYy28FIIc84aMsuJs_gHaEo&pid=Api&P=0&h=180" alt="">
     
        </div>
        <div class="city-name">
          <p><b>DELHI</b></p>
        </div>
      </div>
      <div class="city">
        <div class="city-img">
          <img width="100px" src="https://tse3.mm.bing.net/th?id=OIP.Oo3jYy28FIIc84aMsuJs_gHaEo&pid=Api&P=0&h=180" alt="">
     
        </div>
        <div class="city-name">
          <p><b>DELHI</b></p>
        </div>
      </div>

      <div class="city">
        <div class="city-img">
          <img width="100px" src="https://tse3.mm.bing.net/th?id=OIP.Oo3jYy28FIIc84aMsuJs_gHaEo&pid=Api&P=0&h=180" alt="">
     
        </div>
        <div class="city-name">
          <p><b>DELHI</b></p>
        </div>
      </div>

      <div class="city">
        <div class="city-img">
          <img width="100px" src="https://tse3.mm.bing.net/th?id=OIP.Oo3jYy28FIIc84aMsuJs_gHaEo&pid=Api&P=0&h=180" alt="">
     
        </div>
        <div class="city-name">
          <p><b>DELHI</b></p>
        </div>
      </div>

      <div class="city">
        <div class="city-img">
          <img width="100px" src="https://tse3.mm.bing.net/th?id=OIP.Oo3jYy28FIIc84aMsuJs_gHaEo&pid=Api&P=0&h=180" alt="">
     
        </div>
        <div class="city-name">
          <p><b>DELHI</b></p>
        </div>
      </div>

      <div class="city">
        <div class="city-img">
          <img width="100px" src="https://tse3.mm.bing.net/th?id=OIP.Oo3jYy28FIIc84aMsuJs_gHaEo&pid=Api&P=0&h=180" alt="">
     
        </div>
        <div class="city-name">
          <p><b>DELHI</b></p>
        </div>
      </div>

      <div class="city">
        <div class="city-img">
          <img width="100px" src="https://tse3.mm.bing.net/th?id=OIP.Oo3jYy28FIIc84aMsuJs_gHaEo&pid=Api&P=0&h=180" alt="">
     
        </div>
        <div class="city-name">
          <p><b>DELHI</b></p>
        </div>
      </div>
    
    
      
    </div>

    -->



    <!-- city end ------------------------ -->



    <div id="properties">
        
    </div>
    

    <div class="head-property">
      <p> HERE FIND THE <b> PROPERTY</b></p>
    </div>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 buymargin">
      <% for(let listing of allListings) { %>

        <a href="/listings/<%= listing._id %>/buyshow" class="listing-link buyborder">
          <div class="card col " style="width: 20rem;">
            <img src="<%= listing.image %>" class="card-img-top" alt="listing_image" style="height : 20rem" />

            <div class="card-img-overlay">

            </div>

            <div class="card-body">
              <p class="card-text">
                <b>
                  <%= listing.title %>
                </b>
                <br>

                &#8377; <%= listing.price.toLocaleString("en-IN") %> square feet
              </p>
            </div>

          </div>


          <div class="buy-contact-btn">
            <div class="buybtn11">
              <form action="/listings/<%= listing._id %>/buyshow">
                <button class="buybtn">MORE INFO</button>
              </form>
            </div>
            <div class="contact">
              <form action="/listings/<%= listing._id %>/contact">
                <button class="buybtn colorrrr">Contact</button>
              </form>
            </div>
          </div>

          <% } %>

    </div>

    </a>